*.txt
data/
*.out
*.gch
tmp/
test/calcEditDist
test/chordGen
test/chordGen_gpu
test/chordGenv3_gpu
test/chordNext
test/realtime
tool/listBuilder
tool/hmm_train
tool/bayes_train
tool/dict_builder
tool/chordtime_builder
